.form-group
	select.form-control(ng-model="newItem.grades", placeholder="State" required) 
		option(value="", disabled="", selected="") Grade                             
		option(value='5.8-5.9') 5.8-5.9
		option(value='5.9-5.10') 5.9-5.10                           
		option(value='5.10-5.11') 5.10-5.11                              
		option(value='5.11-5.12') 5.11-5.12                              
		option(value='5.12-5.13') 5.12-5.13                              
		option(value='5.13-5.14') 5.13-5.14                              
		option(value='5.14') 5.14-5.15
		option(value='bouldering') bouldering
