extends layout

block content
	//- when use angular router need to put an ng view for router
	div(ng-view)
	.container
		h1 Climb Time
		div(ng-controller="requestController")
			form.col-md-4(ng-submit="addItem()")
				.form-group
					input.form-control(type="text", placeholder="Name", ng-model="newItem.name")
				.form-group
					input.date.form-control(type='date', name='date', value='', ng-model="newItem.date")
				include states
				include grades
				.form-group
					input.form-control(type="text", placeholder="Crag", ng-model="newItem.crag")
				include styles
				.form-group
					input.btn.btn-primary(type="submit", value="Go Climbing!")

				input.form-control(type="text", placeholder="Search by state, area, or style", ng-model="search")
			div.col-md-3.requests.row
				p(ng-repeat = "item in items | filter: search | orderBy:'state'") 
					climbrequests(item="item")
			div.col-md-5
				ui-gmap-google-map(center='map.center', zoom='map.zoom')
					ui-gmap-marker(idkey="marker.id", coords="marker.coords")
					ui-gmap-marker(data-ng-repeat="marker in markerList" coords="marker" idKey="marker")






				
		

