
				//- form.form-inline
				//-     .form-group
				//-         label.sr-only(for='exampleInputAmount') Amount (in dollars)
				//-         |     
				//-         .input-group
				//-           .input-group-addon $
				//-           |       
				//-           input#exampleInputAmount.form-control(type='text', placeholder='Amount')
				//-           |       
				//-           .input-group-addon .00
				//-       |   
				//-       button.btn.btn-primary(type='submit') Transfer cash
