
.form-group
	select.form-control(ng-model="newItem.state", placeholder="State" required) 
		option.grey(value="", disabled="", selected="") State
		option(value='Alabama') Alabama                         
		option(value='Alaska') Alaska                         
		option(value='Arizona') Arizona                         
		option(value='Arkansas') Arkansas                         
		option(value='California') California                         
		option(value='Colorado') Colorado                         
		option(value='Connecticut') Connecticut                         
		option(value='Delaware') Delaware                         
		option(value='Florida') Florida                         
		option(value='Georgia') Georgia                         
		option(value='Hawaii') Hawaii                         
		option(value='Idaho') Idaho                         
		option(value='Illinois') Illinois                         
		option(value='Indiana') Indiana                         
		option(value='Iowa') Iowa                         
		option(value='Kansas') Kansas                         
		option(value='Kentucky') Kentucky                         
		option(value='Louisiana') Louisiana                         
		option(value='Maine') Maine                         
		option(value='Maryland') Maryland                         
		option(value='Massachusetts') Massachusetts                         
		option(value='Michigan') Michigan                         
		option(value='Minnesota') Minnesota                        
		option(value='Mississippi') Mississippi                        
		option(value='Missouri') Missouri                        
		option(value='Montana') Montana                        
		option(value='Nebraska') Nebraska                        
		option(value='Nevada') Nevada                        
		option(value='New Hampshire') New Hampshire                        
		option(value='New Jersey') New Jersey                        
		option(value='New Mexico') New Mexico                        
		option(value='New York') New York                        
		option(value='North Carolina') North Carolina                        
		option(value='North Dakota') North Dakota                        
		option(value='Ohio') Ohio                        
		option(value='Oklahoma') Oklahoma                        
		option(value='Oregon') Oregon                        
		option(value='Pennsylvania') Pennsylvania                        
		option(value='Rhode Island') Rhode Island                        
		option(value='South Carolina') South Carolina                        
		option(value='South Dakota') South Dakota                        
		option(value='Tennessee') Tennessee                        
		option(value='Texas') Texas                        
		option(value='Utah') Utah                        
		option(value='Vermont') Vermont                        
		option(value='Virginia') Virginia                        
		option(value='Washington') Washington                        
		option(value='West Virginia') West Virginia                        
		option(value='Wisconsin') Wisconsin                        
		option(value='Wyoming') Wyoming
