.form-group
	select.form-control(ng-model="newItem.style", placeholder="Style" required) 
		option.state(value="", disabled="", selected="") Style 
		option(value="sport") Sport
		option(value="trad") Trad
		option(value="bouldering") Bouldering