ul
	li <b>Name:</b> {{item.name}} 
	li <b>Date:</b> {{item.date | date: 'MM-dd-yy'}}
	li <b>State:</b>  {{item.state}}
	li <b>Grade:</b>  {{item.grades}}
	li <b>Crag:</b>  {{item.crag}}
	li <b>Style:</b>  {{item.style}}
	li <b>Contact:</b>  {{item.contact}}
	li <b>Other Info:</b>  {{item.info}}